<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>JSON Explorer</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <header>
            <h1>JSON Explorer</h1>
        </header>
        <div class="container">
            <div class="sidebar">
                <h2>JSON Objects</h2>
                <ul id="json-tree"></ul>
                <button id="add-toy-button">Add Toy</button>
            </div>
            <div class="right-panel" id="main-content">
            </div>
        </div>
        <script src="/js/script.js" type="text/javascript"></script>
    </body>
</html>
