body, html {
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    height: 100%;
}

#sidebar {
    flex: 0 0 25%;
    background-color: #f0f0f0;
    padding: 20px;
    border-right: 1px solid #ccc;
}

#sidebar li { 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: blue;
}
#main-content {
    flex: 1;
    padding: 20px;
}

#main-content h2, #main-content label, #sidebar h2, h1 {
    font-family: Arial, Helvetica, sans-serif;
}
